@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$col1: #e56930;
$col2: #f74949;
$colbox1: #fcdfd2;
$colbox2: #d9f2fd;
$colbox3: #fdd0fa;

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  color: white;
}

.count {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 0px;
  .one {
    background-color: $colbox1;
    color: #9f4c26 !important ;
  }
  .two {
    background-color: $colbox2;
    color: #1e4e64 !important;
  }
  .three {
    background-color: $colbox3;
    color: #42183f !important;
  }
  .box {
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    color: white;
    transition: 0.4s ease-in-out;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex: 3;
      text-align: center;
      h3 {
        font-size: 1em;
        font-weight: normal;
        opacity: 1;
      }
      .nombre {
        margin: 0;
        font-size: 3em;
      }
    }
    .icone {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.graphes {
  display: flex;
  flex-direction: column;
  color: $col1;
  margin-top: 50px;
}

.graph-1 {
  display: flex;
  flex-direction: row;
  .box {
    h3 {
      margin-top: 15px;
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 1em;
      opacity: 0.7;
      color: #2f4858;
    }
  }
  .one {
    width: 70vw;
    position: relative;
  }
  .two {
    position: relative;
    text-align: center;
    width: 30vw;
  }
}

.graph-2 {
  .box {
    border-radius: 20px;
  }
  .three {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .four {
    color: #2f4858;
  }
}

#articles {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#articles td,
#articles th {
  border: 1px solid white;
  padding: 8px;
}

#articles tr:hover {
  background-color: white;
}

#articles th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2f4858;
  color: white;
}

@media (max-width: 1024px) {
  .count {
    grid-column-gap: 10px;
  }
  .graph-1 {
    .one {
      width: 70vw;
      position: relative;
    }
    .two {
      position: relative;
      text-align: center;
      width: 30vw;
      h3{
        font-size: 0.7em;
      }
    }
  }
}
